.desktop {
	background-color: #170b14;
	height: 1024px;
	width: 1440px;
	padding: 0px;
	position: absolute;
}

.cofee {
	height: 280px;
	width: 1248px;
	padding: 0px;
	left: 96px;
	top: 204px;
	position: absolute;
}

.-2block {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 224px;
	left: 312px;
}

.leadingelement {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.-1block {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 224px;
	left: 0px;
}

.leadingelement2 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark2 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial2 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content2 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text2 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement2 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark2 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer2 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container2 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small2 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.-3block {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 168px;
	left: 624px;
}

.leadingelement3 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark3 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial3 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content3 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text3 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement3 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark3 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer3 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container3 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small3 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.-2block2 {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 168px;
	left: 312px;
}

.leadingelement4 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark4 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial4 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content4 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text4 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement4 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark4 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer4 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container4 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small4 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.-1block2 {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 168px;
	left: 0px;
}

.leadingelement5 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark5 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial5 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content5 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text5 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement5 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark5 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer5 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container5 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.-4block {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 168px;
	left: 936px;
}

.leadingelement6 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark6 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial6 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content6 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text6 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement6 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark6 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer6 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container6 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small5 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.-4block2 {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 112px;
	left: 936px;
}

.leadingelement7 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark7 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial7 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content7 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text7 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement7 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark7 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer7 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container7 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small6 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.-3block2 {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 112px;
	left: 624px;
}

.leadingelement8 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark8 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial8 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content8 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text8 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement8 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark8 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer8 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container8 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small7 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.-2block3 {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 112px;
	left: 312px;
}

.leadingelement9 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark9 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial9 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content9 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text9 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement9 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark9 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer9 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container9 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small8 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.-1block3 {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 112px;
	left: 0px;
}

.leadingelement10 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark10 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial10 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content10 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text10 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement10 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark10 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer10 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container10 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small9 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.-4block3 {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 56px;
	left: 936px;
}

.leadingelement11 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark11 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial11 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content11 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text11 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement11 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark11 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer11 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container11 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small10 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.-3block3 {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 56px;
	left: 624px;
}

.leadingelement12 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark12 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial12 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content12 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text12 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement12 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark12 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer12 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container12 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small11 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.-2block4 {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 56px;
	left: 312px;
}

.leadingelement13 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark13 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial13 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content13 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text13 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement13 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark13 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer13 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container13 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small12 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.-1block4 {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 56px;
	left: 0px;
}

.leadingelement14 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark14 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial14 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content14 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text14 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement14 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark14 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer14 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container14 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small13 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.-4block4 {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 0px;
	left: 936px;
}

.leadingelement15 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark15 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial15 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content15 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text15 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement15 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark15 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer15 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container15 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small14 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.-3block4 {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 0px;
	left: 624px;
}

.leadingelement16 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark16 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial16 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content16 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text16 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement16 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark16 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer16 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container16 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small15 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.-2block5 {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 0px;
	left: 312px;
}

.leadingelement17 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark17 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial17 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content17 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text17 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement17 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark17 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer17 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container17 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}

.icons/check_small16 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 8px;
	top: 8px;
	position: absolute;
	width: 24px;
	height: 24px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.icon17 {
	background-color: #381e72;
	height: 9.40000057220459px;
	width: 12.000001907348633px;
	width: 12.000001907348633px;
	height: 9.40000057220459px;
	left: 6px;
	top: 6.99px;
	width: 12.000001907348633px;
	height: 9.40000057220459px;
	position: absolute;
}

.-1block5 {
	height: 56px;
	width: 312px;
	padding-left: 16px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	position: relative;
}

.leadingelement18 {
	height: 40px;
	width: 40px;
	align-self: flex-start;
	left: 16px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.buildingblocks/monogram-dark18 {
	background-color: #4f378b;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	padding: 0px;
}

.initial18 {
	color: #eaddff;
	text-align: center;
	vertical-align: text-bottom;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.15000000596046448px;
	line-height: 24px;
	width: 40px;
}

.content18 {
	height: 40px;
	width: 176px;
	align-self: flex-start;
	left: 72px;
	top: 8px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.text18 {
	color: #e6e1e5;
	text-align: left;
	vertical-align: text-middle;
	font-size: 16px;
	font-family: Roboto;
	letter-spacing: 0.5px;
	line-height: 24px;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 176px;
}

.trailingelement18 {
	height: 24px;
	width: 24px;
	align-self: flex-start;
	left: 264px;
	top: 16px;
	position: absolute;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.checkboxes-dark18 {
	background-color: #ffffff;
	height: 24px;
	width: 24px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.state-layer18 {
	height: 40px;
	width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	padding: 11px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container18 {
	background-color: #d0bcff;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	width: 18px;
	height: 18px;
	top: 19px;
	left: 19px;
	position: absolute;
}
