<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/UntitledPage.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="untitled-page root">
      <div class="col">
        <div class="row">
          <div class="item">
            <div class="col1">
              <div class="wrapper12">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">Co</h5></div>
                  </div>
                  <div class="spacer"></div>
                  <div class="wrapper2"><h5 class="highlights1">Coffee</h5></div>
                  <div class="spacer"></div>
                  <div class="wrapper13">
                    <div class="wrapper14">
                      <div class="wrapper15">
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">1E</h5></div>
                  </div>
                  <div class="spacer1"></div>
                  <div class="wrapper2"><h5 class="highlights1">1oz Espresso</h5></div>
                  <div class="spacer1"></div>
                  <div class="wrapper3">
                    <div class="wrapper4">
                      <div class="wrapper5">
                        <div class="wrapper6"></div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">Fo</h5></div>
                  </div>
                  <div class="spacer2"></div>
                  <div class="wrapper2"><h5 class="highlights1">Foamed milk</h5></div>
                  <div class="spacer2"></div>
                  <div class="wrapper3">
                    <div class="wrapper4">
                      <div class="wrapper5">
                        <div class="wrapper6"></div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper7">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">Ic</h5></div>
                  </div>
                  <div class="spacer3"></div>
                  <div class="wrapper2"><h5 class="highlights1">Ice cream</h5></div>
                  <div class="spacer3"></div>
                  <div class="wrapper8">
                    <div class="wrapper9">
                      <div class="wrapper10">
                        <div class="wrapper11">
                          <img class="image" src="/assets/98de2fa3864033cf7be11ab256cc18d0.png" alt="alt text" />
                        </div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper12">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">Cr</h5></div>
                  </div>
                  <div class="spacer4"></div>
                  <div class="wrapper2"><h5 class="highlights1">Cream</h5></div>
                  <div class="spacer4"></div>
                  <div class="wrapper3">
                    <div class="wrapper4">
                      <div class="wrapper5">
                        <div class="wrapper6"></div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col1">
              <div class="wrapper7">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">Es</h5></div>
                  </div>
                  <div class="spacer5"></div>
                  <div class="wrapper2"><h5 class="highlights1">Espresso</h5></div>
                  <div class="spacer5"></div>
                  <div class="wrapper8">
                    <div class="wrapper9">
                      <div class="wrapper10">
                        <div class="wrapper11">
                          <img class="image" src="/assets/98de2fa3864033cf7be11ab256cc18d0.png" alt="alt text" />
                        </div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper12">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">2E</h5></div>
                  </div>
                  <div class="spacer6"></div>
                  <div class="wrapper2"><h5 class="highlights1">2oz Espresso</h5></div>
                  <div class="spacer6"></div>
                  <div class="wrapper3">
                    <div class="wrapper4">
                      <div class="wrapper5">
                        <div class="wrapper6"></div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper12">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">Tr</h5></div>
                  </div>
                  <div class="spacer7"></div>
                  <div class="wrapper2"><h5 class="highlights1">Traditional</h5></div>
                  <div class="spacer7"></div>
                  <div class="wrapper3">
                    <div class="wrapper4">
                      <div class="wrapper5">
                        <div class="wrapper6"></div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper12">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">Sw</h5></div>
                  </div>
                  <div class="spacer8"></div>
                  <div class="wrapper2"><h5 class="highlights1">Sweet</h5></div>
                  <div class="spacer8"></div>
                  <div class="wrapper3">
                    <div class="wrapper4">
                      <div class="wrapper5">
                        <div class="wrapper6"></div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper12">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">Pa</h5></div>
                  </div>
                  <div class="spacer9"></div>
                  <div class="wrapper2"><h5 class="highlights1">Panela</h5></div>
                  <div class="spacer9"></div>
                  <div class="wrapper3">
                    <div class="wrapper4">
                      <div class="wrapper5">
                        <div class="wrapper6"></div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col2">
              <div class="wrapper12">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">St</h5></div>
                  </div>
                  <div class="spacer10"></div>
                  <div class="wrapper2"><h5 class="highlights1">Steamed Milk</h5></div>
                  <div class="spacer10"></div>
                  <div class="wrapper3">
                    <div class="wrapper4">
                      <div class="wrapper5">
                        <div class="wrapper6"></div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper12">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">Lo</h5></div>
                  </div>
                  <div class="spacer11"></div>
                  <div class="wrapper2"><h5 class="highlights1">Long pulled espresso</h5></div>
                  <div class="spacer11"></div>
                  <div class="wrapper3">
                    <div class="wrapper4">
                      <div class="wrapper5">
                        <div class="wrapper6"></div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper12">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">Ch</h5></div>
                  </div>
                  <div class="spacer12"></div>
                  <div class="wrapper2"><h5 class="highlights1">Chocolate</h5></div>
                  <div class="spacer12"></div>
                  <div class="wrapper3">
                    <div class="wrapper4">
                      <div class="wrapper5">
                        <div class="wrapper6"></div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper12">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">Su</h5></div>
                  </div>
                  <div class="spacer13"></div>
                  <div class="wrapper2"><h5 class="highlights1">Sugar</h5></div>
                  <div class="spacer13"></div>
                  <div class="wrapper3">
                    <div class="wrapper4">
                      <div class="wrapper5">
                        <div class="wrapper6"></div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col2">
              <div class="wrapper12">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">Ho</h5></div>
                  </div>
                  <div class="spacer14"></div>
                  <div class="wrapper2"><h5 class="highlights1">Hot Water</h5></div>
                  <div class="spacer14"></div>
                  <div class="wrapper3">
                    <div class="wrapper4">
                      <div class="wrapper5">
                        <div class="wrapper6"></div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper12">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">1S</h5></div>
                  </div>
                  <div class="spacer15"></div>
                  <div class="wrapper2"><h5 class="highlights1">1oz Steamed Milk</h5></div>
                  <div class="spacer15"></div>
                  <div class="wrapper3">
                    <div class="wrapper4">
                      <div class="wrapper5">
                        <div class="wrapper6"></div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper12">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">Sh</h5></div>
                  </div>
                  <div class="spacer16"></div>
                  <div class="wrapper2"><h5 class="highlights1">Short pulled espresso</h5></div>
                  <div class="spacer16"></div>
                  <div class="wrapper3">
                    <div class="wrapper4">
                      <div class="wrapper5">
                        <div class="wrapper6"></div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper12">
                <div class="row1">
                  <div class="wrapper1">
                    <div class="box"><h5 class="highlights">Wh</h5></div>
                  </div>
                  <div class="spacer17"></div>
                  <div class="wrapper2"><h5 class="highlights1">Whiskey</h5></div>
                  <div class="spacer17"></div>
                  <div class="wrapper3">
                    <div class="wrapper4">
                      <div class="wrapper5">
                        <div class="wrapper6"></div>
                        <div class="group"><div class="rect"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper17" style="--src:url(/assets/12120d9bf0f3d86e90f6ede1c750720f.png)">
          <div class="wrapper18">
            <div class="wrapper19">
              <div class="wrapper20" style="--src:url(/assets/606039e7a20c085d805f71beecb66fd9.png)"></div>
              <div class="wrapper21">
                <div class="col3">
                  <div class="wrapper22"><h5 class="highlights11">&lt;coffee-name&gt;</h5></div>
                  <p class="text">
                    The affogato is an excuse to enjoy a scoop of ice cream any time of day (and any time of year in my
                    opinion). Served with a scoop of ice cream and a shot of espresso, or two.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
