@use "utils" as *;

$color_type_0: rgb(0, 0, 0);
$color_type_1: rgb(202, 196, 208);
$color_type_2: rgb(208, 188, 255);
$color_type_3: rgb(230, 225, 229);
$color_type_4: rgb(234, 221, 255);
$color_type_5: rgb(28, 27, 31);
$color_type_6: rgb(79, 55, 139);

$border_radius_type_0: 12px 12px 12px 12px;
$border_radius_type_1: 20px 20px 20px 20px;
$border_radius_type_2: 2px 2px 2px 2px;

$font_type_0: 500 16px/1.5 "Roboto", Helvetica, Arial, serif;
$font_type_1: 400 16px/1.5 "Roboto", Helvetica, Arial, serif;
$font_type_2: 14px/1.71 "Roboto", Helvetica, Arial, serif;
$font_type_3: 400 14px/1.42 "Roboto", Helvetica, Arial, serif;

.root {
  @include flex-column;
  background-color: $color_type_5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  position: relative;
  overflow: hidden;
}
.col {
  @include flex-column;
  width: 86.67%;
  position: relative;
  flex-grow: 1;
  margin: 40px auto 32px;
  @include xl {
    width: 89.66%;
  }
  @include lg {
    width: 92.04%;
  }
  @include md {
    width: 93.91%;
  }
  @include sm {
    width: 95.36%;
  }
  @include xs {
    width: 96.48%;
  }
  @include xxs {
    width: 97.34%;
  }
  @include tn {
    width: 97.99%;
  }
}
.row {
  display: flex;
  @include xl {
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 0px;
    row-gap: 16px;
  }
  position: relative;
  margin: 48px 0px 0px;
}
.row > .item {
  @include flex-column;
  position: relative;
  flex: 1 1 312px;
  @include xl {
    flex: 0 0 25%;
  }
}
.col1 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
}
.wrapper12 {
  @include flex-column;
  position: relative;
}
.row1 {
  display: flex;
  position: relative;
  flex-grow: 1;
  margin: 8px 16px;
  @include lg {
    margin: 8px 12px;
  }
  @include sm {
    margin: 8px;
  }
}
.wrapper1 {
  @include flex-column;
  position: relative;
  overflow: hidden;
  flex: 0 1 40px;
}
.box {
  @include flex-column;
  background-color: $color_type_6;
  border-radius: $border_radius_type_1;
  position: relative;
  flex-grow: 1;
}
.highlights {
  @include v-center-content;
  justify-content: center;
  font: $font_type_0;
  color: $color_type_4;
  text-align: center;
  letter-spacing: 0.15000000596046448px;
  @include lg {
    font-size: 12px;
    text-align: center;
  }
  position: relative;
  flex-grow: 1;
  min-height: 40px;
}
.row1 > .spacer {
  flex: 0 1 16px;
}
.wrapper2 {
  @include flex-column;
  position: relative;
  overflow: hidden;
  flex: 0 1 176px;
}
.highlights1 {
  @include v-center-content;
  @include font-face($font_type_1, $color_type_3, 0.5px);
  @include lg {
    font-size: 12px;
    text-align: left;
  }
  position: relative;
  flex-grow: 1;
  min-height: 24px;
  margin: 8px 0px;
}
.wrapper13 {
  @include flex-column;
  position: relative;
  flex: 0 1 24px;
  margin: 8px 0px;
}
.wrapper14 {
  @include flex-column;
  height: 24px;
  position: relative;
}
.wrapper15 {
  @include flex-column;
  border-radius: $border_radius_type_1;
  width: 40px;
  height: 40px;
  position: absolute;
  overflow: hidden;
  top: -8px;
  left: -100vw;
  right: -100vw;
  margin: 0px auto;
}
.group {
  @include flex-column;
  position: relative;
  flex-grow: 1;
  margin: 11px;
  @include sm {
    margin: 11px 4px;
  }
}
.rect {
  background-color: $color_type_2;
  border-radius: $border_radius_type_2;
  height: 18px;
  position: relative;
}
.wrapper {
  @include flex-column;
  position: relative;
}
.row1 > .spacer1 {
  flex: 0 1 16px;
}
.wrapper3 {
  @include flex-column;
  position: relative;
  flex: 0 1 24px;
  margin: 8px 0px;
}
.wrapper4 {
  @include flex-column;
  height: 24px;
  position: relative;
}
.wrapper5 {
  @include flex-column;
  border-radius: $border_radius_type_1;
  width: 40px;
  height: 40px;
  position: absolute;
  overflow: hidden;
  top: -8px;
  left: -100vw;
  right: -100vw;
  margin: 0px auto;
}
.wrapper6 {
  @include flex-column;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  left: -100vw;
  right: -100vw;
  margin: 0px auto;
}
.row1 > .spacer2 {
  flex: 0 1 16px;
}
.wrapper7 {
  @include flex-column;
  position: relative;
}
.row1 > .spacer3 {
  flex: 0 1 16px;
}
.wrapper8 {
  @include flex-column;
  position: relative;
  flex: 0 1 24px;
  margin: 8px 0px;
}
.wrapper9 {
  @include flex-column;
  height: 24px;
  position: relative;
}
.wrapper10 {
  @include flex-column;
  border-radius: $border_radius_type_1;
  width: 40px;
  height: 40px;
  position: absolute;
  overflow: hidden;
  top: -8px;
  left: -100vw;
  right: -100vw;
  margin: 0px auto;
}
.wrapper11 {
  @include flex-column;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  left: -100vw;
  right: -100vw;
  margin: 0px auto;
}
.image {
  width: 12px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: relative;
  min-width: 12px;
  margin: 7px 6px 8px;
}
.row1 > .spacer4 {
  flex: 0 1 16px;
}
.row1 > .spacer5 {
  flex: 0 1 16px;
}
.row1 > .spacer6 {
  flex: 0 1 16px;
}
.row1 > .spacer7 {
  flex: 0 1 16px;
}
.row1 > .spacer8 {
  flex: 0 1 16px;
}
.row1 > .spacer9 {
  flex: 0 1 16px;
}
.col2 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 56px;
}
.row1 > .spacer10 {
  flex: 0 1 16px;
}
.row1 > .spacer11 {
  flex: 0 1 16px;
}
.row1 > .spacer12 {
  flex: 0 1 16px;
}
.row1 > .spacer13 {
  flex: 0 1 16px;
}
.row1 > .spacer14 {
  flex: 0 1 16px;
}
.row1 > .spacer15 {
  flex: 0 1 16px;
}
.row1 > .spacer16 {
  flex: 0 1 16px;
}
.row1 > .spacer17 {
  flex: 0 1 16px;
}
.wrapper17 {
  @include flex-column;
  background: var(--src) center center / cover no-repeat;
  border-radius: $border_radius_type_0;
  width: 28.85%;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.298));
  position: relative;
  margin: 28px auto 0px;
  @include xxs {
    width: 35.09%;
  }
  @include tn {
    width: 41.88%;
  }
}
.wrapper18 {
  @include flex-column;
  border-radius: $border_radius_type_0;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}
.wrapper19 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
}
.wrapper20 {
  @include flex-column;
  background: var(--src) center center / cover no-repeat;
  height: 312px;
  position: relative;
}
.wrapper21 {
  @include flex-column;
  position: relative;
}
.col3 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
  margin: 16px;
  @include lg {
    margin: 16px 12px;
  }
  @include sm {
    margin: 16px 8px;
  }
}
.wrapper22 {
  @include flex-column;
  position: relative;
}
.highlights11 {
  @include font-face($font_type_2, $color_type_0, 0.5px);
  position: relative;
  flex-grow: 1;
  min-height: 24px;
}
.text {
  @include font-face($font_type_3, $color_type_1, 0.25px);
  position: relative;
  min-height: 80px;
  margin: 32px 0px 0px;
}
